/* ===== BAR ===== */
::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-track {
  background-color: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

/* ::-webkit-scrollbar-button {
  background: rgba(212, 70, 0, 0.7);;
} */

/* ===== HEADER ===== */
header nav {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

header .name {
  font-size: 2rem;
}

header .nav-item {
  margin-right: 10px;
}

header .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}

.active {
  color: rgba(23, 63, 17, 1) !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 0px 1px red inset;
}

header .nav-link:hover {
  color: rgba(23, 63, 17, 1);
  background-color: #fff;
}

.navbar-toggler {
  background-color: #fff !important;
}

/* ===== MAIN ===== */
.publi {
  height: 10vh;
}

/* NO LINKS ACTIVE */
main a[href="https://www.academiadasapostasbrasil.com/"], main a[href="https://www.academiadasapostas.com/"] {
  pointer-events: none;
  cursor: text;
}

/* ===== FOOTER ===== */
footer {
  margin-top: 20vh; /* ## */
  height: 80px;
  width: 100%;
  background-image: url("../images/background.png");
  color: white;
  text-align: center;
}

footer .social {
  width: 100%;
  background-color: #fff;
  padding: 0 35px 2px 35px;
  font-weight: bold;
  border-radius: 4px;
}

footer .bi-twitter-x {
  font-size: 1rem;
}

footer .bi-instagram {
  font-size: 1rem;
  color: purple;
}

footer .email a {
  background-color: #fff;
  padding: 0 35px 5px 35px;
  color: rgba(23, 63, 17, 1);
  font-weight: bold;
  border-radius: 4px;
}

/***********
|  MOBILE  |
***********/
@media only screen and (max-width: 600px) {
  /* HEADER */
  .nav-link {
    padding-left: 10px !important;
  }

  /* MAIN */
  h1:hover {
    animation: none;
  }

  .publi {
    background-color: yellow;
  }
  
  .publi-one {
    margin-bottom: 20px;
  }
  
  .publi-two {
    margin-top: 20px !important;
  }

  /* FOOTER */
  footer {
    height: 200px;
  }

  footer .social {
    width: 80%;
    margin-left: 10%;
  }

  footer .margin-mobile {
    margin-top: 2.5vh;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  /* HEADER */
  

  /* MAIN */
  .publi {
    background-color: rgb(119, 0, 255);
  }

  /* SECTION */


  /* FOOTER */
  footer {
    height: 165px;
  }

  footer .social {
    width: 50%;
    margin-left: 25%;
  }
}