/* ===== BAR ===== */
::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-track {
  background-color: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

/* ::-webkit-scrollbar-button {
  background: rgba(212, 70, 0, 0.7);;
} */

/* ===== HEADER ===== */
header nav {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

header .name {
  font-size: 2rem;
}

header .nav-item {
  margin-right: 10px;
}

header .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}

.active {
  color: rgba(23, 63, 17, 1) !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 0px 1px red inset;
}

header .nav-link:hover {
  color: rgba(23, 63, 17, 1);
  background-color: #fff;
}

/* ===== MAIN ===== */
main h1 {
  margin-top: auto;
}

h1:hover {
  /* animation: mymove 60ms ease-out 0.2s 3 normal backwards; */
  animation: waviy 350ms ease-out 0.2s 1 normal backwards;
}

@keyframes mymove {
  0% {margin-top: 0;}
  50% {margin-top: 5px;}
  100% {margin-top: 0;}
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

main h1 {
  cursor: pointer;
}

main img {
  width: 100%;
}

.main-card-img {
  height: auto;
  overflow: hidden;
}

.main-card-img img {
  transition: transform .3s ease-in;
  cursor: context-menu;
}

.main-card-img:hover img {
  transform: scale(1.1);
}

.main-title {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(197, 51, 51, 1) 80%, rgba(255, 0, 0, 1) 100%);
  color: #fff;
}

.share-count {
  margin-left: 25%;
}

.views-count {
  margin-right: 25%;
}

.divid-share {
  border-bottom: solid 1px #dbdbdb;
  margin-left: 25%;
  padding-bottom: 5%;
}

.divid-views {
  border-bottom: solid 1px #dbdbdb;
  margin-right: 25%;
  padding-bottom: 5%;
}

main h1 .bi {
  font-size: 1.5rem;
}

main .bi {
  font-size: 15px;
}

main .bi-share {
  margin-left: 10%;
}

main .bi-eye {
  margin-right: 20%;
}

.overlay {
  position: relative;
  margin-top: -13vh;
  background: rgba(212, 70, 0, 0.7);
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: #fff;
  font-size: 20px;
  padding: 13px;
}

.main-img:hover .overlay {
  opacity: 1;
}

.main-img:hover img {
  filter: contrast(115%);
}

main .overlay i {
  font-size: 20px;
}

.publi {
  height: 10vh;
  background-color: red;
}

.publi-one {
  margin-bottom: 20px;
}

.publi-two {
  margin-top: 20px !important;
}

/* ===== SECTION ===== */
section img {
  min-height: 20vh;
  max-height: 20vh;
  width: 100%;
  object-fit: cover;
}

section .card:hover {
  background-color: rgba(23, 63, 17, 1);
  color: #fff !important;
  cursor: pointer;
  border: none;
}

section .card:hover img {
  filter: contrast(115%) sepia(100%);
  transform: scale(0.99);
}

section .card:hover .text-body-secondary {
  color: #fff !important;
}

/* ===== FOOTER ===== */
footer {
  margin-top: 20vh; /* ## */
  height: 80px;
  width: 100%;
  background-image: url("../images/background.png");
  color: #fff;
  text-align: center;
}

footer .social {
  width: 100%;
  background-color: #fff;
  padding: 0 35px 2px 35px;
  font-weight: bold;
  border-radius: 4px;
}

footer .bi-twitter-x {
  font-size: 1rem;
}

footer .bi-instagram {
  font-size: 1rem;
  color: purple;
}

footer .email a {
  background-color: #fff;
  padding: 0 35px 5px 35px;
  color: rgba(23, 63, 17, 1);
  font-weight: bold;
  border-radius: 4px;
}

/* ===== MEDIAS ===== */
@media screen and (max-width: 600px) {
  /* body {
    background-color: red !important;
  } */
}
