/************
|  FULL HD  |
************/

/* ===== BAR ===== */
::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-track {
  background-color: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

/* ::-webkit-scrollbar-button {
    background: rgba(212, 70, 0, 0.7);;
  } */

/* ===== HEADER ===== */
header nav {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

header .name {
  font-size: 2rem;
}

header .nav-item {
  margin-right: 10px;
}

header .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}

.active {
  color: rgba(23, 63, 17, 1) !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 0px 1px red inset;
}

header .nav-link:hover {
  color: rgba(23, 63, 17, 1);
  background-color: #fff;
}

.navbar-toggler {
  background-color: #fff !important;
}

/* ===== MAIN ===== */
main {
  margin-top: 1.5rem;
}

main .publi {
  height: 10vh;
  background-color: #DAF7A6;
}

main .gallery {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

main .gallery:hover {
  border: 2px solid rgba(38, 97, 33, 1);
}

main .gallery img {
  width: 100%;
  height: 100%;
}

main .gallery:hover img {
  filter: contrast(125%);
}

.desc {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: rgba(38, 97, 33, 1);
}

.desc-mobile {
  display: none;
}

.overlay {
  position: relative;
  margin-top: -17.5vh;
  background: rgba(38, 97, 33, 1);
  color: #fff;
  transition: .5s ease;
  opacity: 0;
  font-size: 1em;
  padding: 10px 15px 11px 15px;
}

.gallery:hover .overlay {
  opacity: 1;
}

/* ===== FOOTER ===== */
footer {
  margin-top: 20vh; /* ## */
  height: 80px;
  width: 100%;
  background-image: url("../images/background.png");
  color: #fff;
  text-align: center;
}

footer .social {
  width: 100%;
  background-color: #fff;
  padding: 0 35px 2px 35px;
  font-weight: bold;
  border-radius: 4px;
}

footer .bi-twitter-x {
  font-size: 1rem;
}

footer .bi-instagram {
  font-size: 1rem;
  color: purple;
}

footer .email a {
  background-color: #fff;
  padding: 0 35px 5px 35px;
  color: rgba(23, 63, 17, 1);
  font-weight: bold;
  border-radius: 4px;
}

/*******
|  HD  |
*******/
@media only screen and (min-width: 1360px) and (max-width: 1370px) {
  html {
    font-size: 10px;
  }

  /* FOOTER */
  footer .p-1 {
    margin-top: 8%;
  }
}

/***********
|  MOBILE  |
***********/
@media only screen and (max-width: 600px) {
  /* HEADER */
  .navbar-nav {
    margin-top: 10px;
  }

  .nav-link {
    padding-left: 10px !important;
  }

  /* MAIN */
  main .publi {
    background-color: yellow;
  }
  
  .publi-one {
    margin-bottom: 20px;
  }
  
  .publi-two {
    margin-top: 20px !important;
  }

  /* FOOTER */
  footer {
    height: 200px;
  }

  footer .social {
    width: 80%;
    margin-left: 10%;
  }

  footer .margin-mobile {
    margin-top: 2.5vh;
  }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
  /* HEADER */
  .navbar-nav {
    margin-top: 10px;
  }

  .nav-link {
    padding-left: 10px !important;
  }

  /* MAIN */
  main .publi {
    background-color: rgb(119, 0, 255);
    height: 40vh;
    margin-bottom: 7vh;
  }

  .publi-two {
    margin-top: 7vh !important;
  }

  .overlay {
    margin-top: -43.5vh;
    padding: 10px 15px 8px 15px;
  }

  /* SECTION */


  /* FOOTER */
  footer {
    height: 165px;
  }

  footer .social {
    width: 50%;
    margin-left: 25%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 915px) {
  /* HEADER */
  .navbar-nav {
    margin-top: 10px;
  }

  .nav-link {
    padding-left: 10px !important;
  }
  
  /* MAIN */
  main .publi {
    height: 40vh;
    margin-bottom: 7vh;
  }

  .publi-two {
    margin-top: 7vh !important;
  }

  .overlay {
    margin-top: -43.5vh;
    padding: 10px 15px 8px 15px;
  }

  /* FOOTER */
  footer {
    height: 160px;
  }

  footer .margin-mobile {
    width: 200%;
  }
  
  footer .socials {
    width: 40%;
    margin-left: 30%;
  }
}

/* Específico para os cards de jogadores (s8+)*/
@media only screen and (min-width: 381px) and (max-width: 450px) {
  .overlay {
    margin-top: -17vh;
    padding: 10px 15px 8px 15px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 380px) {
  .overlay {
    margin-top: -21vh;
    padding: 10px 15px 8px 15px;
  }
}
