/* ===== BAR ===== */
::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-track {
  background-color: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

/* ::-webkit-scrollbar-button {
    background: rgba(212, 70, 0, 0.7);;
  } */

/* ===== HEADER ===== */
header nav {
  background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

header .name {
  font-size: 2rem;
}

header .nav-item {
  margin-right: 10px;
}

header .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}

.active {
  color: rgba(23, 63, 17, 1) !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 0px 1px red inset;
}

header .nav-link:hover {
  color: rgba(23, 63, 17, 1);
  background-color: #fff;
}

.navbar-toggler {
  background-color: #fff !important;
}

/* ===== MAIN ===== */
main {
  margin-top: 1.5rem;
}

main .publi {
  height: 10vh;
}

main .gallery {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

main .gallery:hover {
  border: 2px solid rgba(38, 97, 33, 1);
}

main .gallery img {
  width: 100%;
  height: 100%;
}

main .gallery:hover img {
  filter: contrast(125%);
}

.desc {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: rgba(38, 97, 33, 1);
}

.desc-mobile {
  display: none;
}

.overlay {
  position: relative;
  margin-top: -17.5vh;
  background: rgba(38, 97, 33, 1);
  color: #fff;
  transition: .5s ease;
  opacity: 0;
  font-size: 1em;
  padding: 10px 15px 10px 15px;
}

.gallery:hover .overlay {
  opacity: 1;
}

.responsive {
  padding: 0 6px;
  /* float: left; */
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* ===== FOOTER ===== */
footer {
  margin-top: 20vh; /* ## */
  height: 80px;
  width: 100%;
  background-image: url("../images/background.png");
  color: #fff;
  text-align: center;
}

footer .social {
  width: 100%;
  background-color: #fff;
  padding: 0 35px 2px 35px;
  font-weight: bold;
  border-radius: 4px;
}

footer .bi-twitter-x {
  font-size: 1rem;
}

footer .bi-instagram {
  font-size: 1rem;
  color: purple;
}

footer .email a {
  background-color: #fff;
  padding: 0 35px 5px 35px;
  color: rgba(23, 63, 17, 1);
  font-weight: bold;
  border-radius: 4px;
}

/***********
|  MOBILE  |
***********/
@media only screen and (max-width: 600px) {
  /* HEADER */
  .nav-link {
    padding-left: 10px !important;
  }

  /* MAIN */
  .publi {
    background-color: yellow;
  }
  
  .publi-one {
    margin-bottom: 20px;
  }
  
  .publi-two {
    margin-top: 20px !important;
  }

  .gallery {
    margin-bottom: 10px;
  }

  .desc {
    display: none;
  }

  .desc-mobile {
    display: block;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: rgba(38, 97, 33, 1);
  }

  .overlay {
    position: relative;
    margin-top: -41%;
  }

  /* FOOTER */
  footer {
    height: 200px;
  }

  footer .social {
    width: 80%;
    margin-left: 10%;
  }

  footer .margin-mobile {
    margin-top: 2.5vh;
  }
}

@media only screen and (orientation: landscape) {
  /* HEADER */
  

  /* MAIN */
  .publi {
    background-color: rgb(119, 0, 255);
  }

  /* SECTION */


  /* FOOTER */

}

/* 
https://freefrontend.com/css-carousels/
https://codepen.io/aybukeceylan/pen/RwrRPoO */