div {
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #900;
	margin: 50px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	-webkit-transition:all 2s ease-in-out;
	   -moz-transition:all 2s ease-in-out;
	     -o-transition:all 2s ease-in-out;
	        transition:all 2s ease-in-out;
	-webkit-perspective: 800px;
	   -moz-perspective: 800px;
	     -o-perspective: 800px;
	        perspective: 200px;
	-webkit-perspective-origin: 50% 100px;
	   -moz-perspective-origin: 50% 100px;
	   -o-perspective-origin: 50% 100px;
	   perspective-origin: 50% 100px; 
}

div:hover {
	-webkit-transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
	   -moz-transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
	     -o-transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
	        transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}