li {
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #900;
	float: left;
	margin: 10px;
	list-style: none;
	font-weight: bold;
	color: #fff;
	cursor: pointer;

	-webkit-transform:scale(1.0); 
	   -moz-transform:scale(1.0); 
	     -o-transform:scale(1.0);
	        transform:scale(1.0);
}

li:hover {
	background-color: #600;
	-webkit-transform:scale(1.2) rotate(50deg) translate(30px, 10px); 
	   -moz-transform:scale(1.2) rotate(50deg) translate(30px, 10px); 
	     -o-transform:scale(1.2) rotate(50deg) translate(30px, 10px);
	        transform:scale(1.2) rotate(50deg) translate(30px, 10px);
}